h1 {
    color: #FFF7EF;
    background: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 40px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right:10px;
    padding-bottom: 15px;
    margin-left: 150px;
    width: 190px;

}

header {
    border-style: solid;
    border-color: #cccccc;
    border-width: 0px 0px 3px 0px;
}

/* unvisited link */
a:link {color: #777777; 
    text-decoration: none;
}
/* visited link */
a:visited { color: #8268E8; 
    text-decoration: none;
}
/* hover mouse over link */
a:hover { color: #E8BCAD; 
    text-decoration: none;
}
/* selected link */
a:active { color: #E8C15A;   
        text-decoration: none;
}

a.about {
    border-style: solid;
    border-color: #cccccc;
    border-width: 0px 2px 0px 0px;
    padding: 5px 5px 0px 5px;
}

a.port {
    border-style: solid;
    border-color: #cccccc;
    border-width: 0px 2px 0px 0px;
    padding: 5px 5px 0px 5px;
}

a.contact {
    border-style: solid;
    border-color: #cccccc;
    border-width: 0px 2px 0px 0px;
    padding: 5px 5px 0px 5px;
}

footer {
    background: #666666;
    text-align: center;
    border-style: solid;
    border-top: #4aaaa5;
    border-width: 10px 0px 0px 0px;
    padding: 2px;

}

