h1 {
    color: #FFF7EF;
    background: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 40px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right:10px;
    padding-bottom: 15px;
    margin-left: 150px;
    width: 190px;
}

header {
    border-style: solid;
    border-color: #cccccc;
    border-width: 0px 0px 3px 0px;
}

/* unvisited link */
a:link {color: #777777; 
    text-decoration: none;
}
/* visited link */
a:visited { color: #8268E8; 
    text-decoration: none;
}
/* hover mouse over link */
a:hover { color: #E8BCAD; 
    text-decoration: none;
}
/* selected link */
a:active { color: #E8C15A;   
        text-decoration: none;
}

a {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

a.about {
    border-style: solid;
    border-color: #cccccc;
    border-width: 0px 2px 0px 0px;
    padding: 5px 5px 0px 5px;
    margin-bottom: 25px;
    float: right;
    left: 420px;
}

a.port {
    border-style: solid;
    border-color: #cccccc;
    border-width: 0px 2px 0px 0px;
    padding: 5px 5px 0px 5px;
    float: right;
    position: relative;
}

a.contact {
    border-style: solid;
    border-color: #cccccc;
    border-width: 0px 2px 0px 0px;
    padding: 5px 5px 0px 5px;
    float: right;
    position: relative;
    right: 20px;
    display: inline-block;
}

img.profile {
    width: 200px; 
    height: 200px;
}

footer {
    background: #666666;
    text-align: center;
    border-top: 8px solid #4aaaa5;
    padding: 2px;
    clear: both;
}

div {
    display: inline-block;
    margin: 25px;
    width: 980px;

}

section.abm {
    display: inline-block;
    margin-left: 150px;
    margin-right: 150px;
    width: 980px;
}